### Probability Ratio Encoding

1. Probabilty of Survived based on Cabin--- categorical feature

2. Probability of Not Survived---1-Pr(Survived)

3. prob(Survived)/prob(Not survived)

4. Dcitionary to map cabin with probability

5. Replace with the categorical feature

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic_train.csv',usecols=['cabin','survived']) #categorical encoding last technique

In [3]:
df.head()

  cabin  survived
0   NaN         1
1   NaN         0
2   NaN         0
3   NaN         1
4   NaN         0

In [5]:
#Replacing  

df['cabin'].fillna('Missing',inplace=True)
df.head()

     cabin  survived
0  Missing         1
1  Missing         0
2  Missing         0
3  Missing         1
4  Missing         0

In [6]:
df['cabin'].unique()

array(['Missing', 'C82', 'D15', 'C50', 'E33', 'B57 B59 B63 B66', 'E34',
       'C83', 'C125', 'B82 B84', 'B96 B98', 'B51 B53 B55', 'C132', 'C31',
       'C68', 'B94', 'F E46', 'C126', 'D34', 'B28', 'C65', 'B52 B54 B56',
       'D17', 'C86', 'C7', 'E25', 'E17', 'D56', 'A9', 'B26', 'C91', 'B5',
       'D', 'A23', 'C22 C26', 'C124', 'E63', 'B35', 'B18', 'C6', 'B49',
       'B19', 'G6', 'D35', 'C23 C25 C27', 'C62 C64', 'B73', 'E12', 'B41',
       'A20', 'B69', 'C78', 'A14', 'D26', 'C51', 'B79', 'E52', 'C49',
       'C104', 'B61', 'D43', 'D48', 'C123', 'A7', 'D47', 'D49', 'B80',
       'A29', 'F38', 'B58 B60', 'A34', 'D33', 'D20', 'F G63', 'T', 'A6',
       'C55 C57', 'B38', 'E49', 'F4', 'E121', 'C85', 'C87', 'B86', 'B102',
       'C111', 'D22', 'B22', 'B77', 'B50', 'B30', 'E36', 'F33', 'E60',
       'B39', 'C118', 'D21', 'F2', 'E39 E41', 'E101', 'A32', 'D38',
       'C101', 'C54', 'C106', 'C32', 'D36', 'E50', 'D40', 'C30', 'C52',
       'C130', 'C80', 'F G73', 'E10', 'B10', 'B24', 'C2', 'D28', 'E44',
       'D30', 'B20', 'C28', 'C97', 'E8', 'D11', 'B101', 'D37', 'F E57',
       'E24', 'A24', 'C46', 'E31', 'C93', 'C39', 'B37'], dtype=object)

In [8]:
df['cabin']=df.cabin.astype(str).str[0]
df.head()

  cabin  survived
0     M         1
1     M         0
2     M         0
3     M         1
4     M         0

In [9]:
df.cabin.unique()

array(['M', 'C', 'D', 'E', 'B', 'F', 'A', 'G', 'T'], dtype=object)

In [14]:
prob_df = df.groupby(['cabin'])['survived'].mean()

In [16]:
prob_df = pd.DataFrame(prob_df)  #probability of survived 
prob_df

       survived
cabin
A      0.583333
B      0.733333
C      0.580645
D      0.709677
E      0.791667
F      0.666667
G      0.500000
M      0.282246
T      0.000000

In [17]:
prob_df['Died'] = 1-prob_df['survived']  #probability of died

In [18]:
prob_df.head()

       survived      Died
cabin
A      0.583333  0.416667
B      0.733333  0.266667
C      0.580645  0.419355
D      0.709677  0.290323
E      0.791667  0.208333

In [19]:
#Probability Ratio Encoding

prob_df['Probability_ratio'] = prob_df['survived']/prob_df['Died']
prob_df.head()

       survived      Died  Probability_ratio
cabin
A      0.583333  0.416667           1.400000
B      0.733333  0.266667           2.750000
C      0.580645  0.419355           1.384615
D      0.709677  0.290323           2.444444
E      0.791667  0.208333           3.800000

In [23]:
prob_encoded = prob_df['Probability_ratio'].to_dict()

In [25]:
df['cabin_encoded'] = df['cabin'].map(prob_encoded)  #drop cabin col now
df.head()

  cabin  survived  cabin_encoded
0     M         1       0.393235
1     M         0       0.393235
2     M         0       0.393235
3     M         1       0.393235
4     M         0       0.393235